extends layout

block content
  h1= title
  p Welcome to #{title}
  ul#messages
  form(action="")
    input(id="m", autocomplete="off")
    button Send
  script(src="../socket.io/socket.io.js")
  script(src="http://code.jquery.com/jquery-1.11.1.js")
  script(src="/javascripts/myjs.js")
